header {
 display: block; /* Для старых браузеров */
 height: 40px; /* Высота шапки */
 background: #00000 center bottom;
}

.container {
	width: 100%;
	margin: 0 auto;

}

/* Значення для лого та навігації */
.header_inner {

	max-width: 1440px;
	display: flex;
	justify-content: space-between; 
	/* Розділення на дві частини контейнера */
}

/* Стилі посилань */
.header_logo {
	color: white;
	font-family: 'Jaldi';
	font-weight: bold;
	text-transform: uppercase;
	margin: 0 30;	
} 

/* Налаштування навігації посилань шапки  */
.nav {
		font-family: 'Inter';
        text-transform: uppercase;
	    padding: 0 0 40;
}

.nav_link {
	font-family: 'Jaldi';
	font-weight: normal;
	text-transform: uppercase;
	margin: 0 0 0 30;
	text-decoration: none;
 transition: color 0.4s linear; /* плавна зміна кольору посилань при наведені курсора*/

}


a:link {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}	
h2 {
	color: white;
	font-family: 'Jaldi';
	font-weight: bold;
	text-transform: uppercase;
	
}

.services {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table,td {           /* параметри таблиці та стовців (розмір ліній, прибирання подвійного обведення) */
  color: white;
  border: none;
  border-collapse: collapse;
}
table {              /* параметри таблиці (ширина, відступ від лівого краю) */
	 width: 70%;
	 margin-left: 15%;
	 margin-top: 50;
}
td {                 /* параметри стовбців ( вирівнювання за лівим краєм) */
  text-align: left;
}

.table-text {        /* параметри тексту таблиці (відступ від лівого краю, відступ між рядочками, відступи зверху і знизу ) */
  text-align: left;
  line-height: 1.8;
  padding-bottom: 15px;
  padding-left: 15px;
}

img {                 /* відцентровування зображень */
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* padding-внутрішні відступи
padding: 25px 50px 75px 100px;
верхній відступ 25px
правий відступ 50px
нижній відступ 75px
лівий відступ 100px*/