<html>
 <head>
  <link rel="stylesheet" href="about styles.css">
   <title> About me  </title>
 </head>
<body>
<style>
 body {
  background-color: black;
}
</style>
<header class="header">
  <div class="container"> <!-- шапка -->
    <div class="header_inner">
	 <div class="header_logo"> VIKTORIA TKACHENKO DESIGN <b></div>
	 
	 <nav class="nav">
         <a class="nav_link" href="main1.html">HOME</a>    
         <a class="nav_link" href="about.html">ABOUT</a>
         <a class="nav_link" href="portfolio.html">PORTFOLIO</a>
	     <a class="nav_link" href="services.html">SERVICES</a>
         <a class="nav_link" href="contacts.html">CONTACTS</a>
	 </nav>
	</div>
  </div>
</header>
  <br>
    <p><img src="images/4.png" width="157" height="58,5" vspace="20" align="center"></p>
  
  <table>
  <tr>
  <td colspan="2"><div class="title"><h2>Професійна діяльність</h2></div></td>
     <tr>
   <td colspan="2" height="25"></td> 
   <tr>
   <td> 01/2021 до тепер </td> <td>фрілансер </td>
   <tr>
   <td colspan="2"><div class="title"><h2>Професійна освіта</h2></div></td>
      <tr>
   <td colspan="2" height="25"></td> 
   <tr>
   <td><p>31/07-14/08/2022<br>        
      <p> 6/2022 - 2/2023<br>  
       <p>3/2022<br>   
       <p>9/2020 до тепер   </td>

	<td><p>Пентимент - Міжнародна літня <br>  
       академія мистецтва і дизайну на <br>  
       базі Університету прикладних <br>  
       наук<br>  

      <p>B1-Курс у школі bfw<br>  

       <p>Втеча до Німеччини через<br>  
       військовий напад росії на <br>  
       Україну<br>  

      <p> навчання у Херсонському<br>   
       Національному Технічному<br>   
       Університеті за спеціальністю<br>   
       022 «Графічний дизайн»<br>   
       (назараз в онлайн режимі) </td>
   <tr>
  <td colspan="2"><div class="title"><h2>Шкільна освіта</h2></div></td>
   <tr>
   <td colspan="2" height="25"></td>   
   <tr>
   <td>2009 -2020</td>                 
   <td><p>Херсонська загальноосвітня <br>  
   школа №45 І-ІІІ ступенів<br>  
   середній бал (10,5)</td>
   <tr>
  <td colspan="2"><div class="title"><h2>Спеціальні знання</h2></div></td> 
   <tr>
   <td colspan="2" height="25"></td> 
   <tr>
   <td><p>Володіння мовами:<br>  
   <p>Знання комп’ютера:<br>  
   <p>Професійні навички:<br>  
   <p>Soft Skills:  
   </td>
   <td> 
   <p>українська - рідна мова<br>     
   російська - рідна мова<br>    
   англійська - B1<br>     
   німецька - В1<br>  

   <p>Microsoft Word, Microsoft Excel,<br>  
   Microsoft PowerPoint<br>  

   <p>Photoshop, Illustrator, AfterEffect,<br>   
   Premier Pro, 3D Max,j Blender,<br>   
   Figma, InDesign, Corel Draw<br>  
                 
    <p>впевненість<br>    
    мотивація <br>          
    командна робота<br>           
    міжкультурна компетентність <br>     
    управління часом <br>    
    структурований спосіб роботи
    </td>

  
 </table>
<br>
<br>
<br> 
</body>
</html>
