<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Viktoria Tkachenko Design </title>
    <link rel="stylesheet" href= "{{ url_for('static',     filename='css/main1_styles.css') }}">   <!-- "../static/css/main1_styles.css"-->
    <link  rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'> 
</head>

<body>
    <header class="header">
        <a href="" class="logo">  VIKTORIA TKACHENKO DESIGN </a>

        <nav class="navbar" >
            <a href="main1.html" class="active">HOME</a>    
            <a href="#about">ABOUT</a>
            <a href="#portfolio">PORTFOLIO</a>
            <a href="#my-services">SERVICES</a>
            <a href="#contact-me">CONTACTS</a>	
        </nav>
    </header>

 <!--Main Content -->
  <div class="main-content">

     <!--Home -->
    <div class="home">
        <div class="my_photo"> 
            <img src="{{me}}"    alt="My photo" width="360" height="345" vspace="20"> <!--"../medien/images_main/me.png"-->
           </div> 
           <div class="home-sci">
        <a href="https://instagram.com/tkachenko.viktoria_art?igshid=NGExMmI2YTkyZg=="><i class='bx bxl-instagram-alt'></i></a>
        <a href="https://www.facebook.com/wika.tkachenko.5"><i class='bx bxl-facebook'></i></a>
        <a href="mailto:wikapobeda79@gmail.com"><i class='bx bxs-envelope'></i></a>
      </div>

        <div class="home-content">
               <h1>GRAPHIC AND </h1>
               <h2>WEB DESIGNER</h2>
               <p> 4 years of professional freelance activity<br>
                   quality work with clients<br>
                   domestic & foreign work experience</p>
          <div class="btn-box">
           <a href="cv/cv – new.html">CV</a>
           <a href="#" id="about"> PORTFOLIO</a>
           </div> 
        </div>    
      </div>

     <!--About me -->
        <div class="about_me">
         <h1 >WHO I AM?</h1>
         <p id="portfolio">My name is Viktoria Tkachenko & I am ukrainian student. <br>
            I am studing at the Cherson National Technical University at the <br>
            Faculty of Informatic and Design, majoring in Graphic Design. 
         </p > 
        </div>
     <!--MY WORKS -->
            <div  class="portfolio">
            <div class="my-works">
                <svg xmlns="http://www.w3.org/2000/svg" width="98" height="98" viewBox="0 0 98 98" fill="none">
                    <circle cx="49" cy="49" r="49" fill="#FFFF00"/>
                  </svg>
                <h2>MY <span class="works"> WORKS</span></h2> 
                </div>
         
            <div class="images">
           <!-- <img src="{{city_identity}}" alt="city identity"  width="320" height="380" hspace="48%">-->
            <img src="images_main/city_identity.png" width="320" height="380" hspace="48%">
            <img src="images_main/exhibition_catalogue.png" width="320" height="380" hspace="48%">
            <img src="images_main/wine_packaging_design.png" width="320" height="380" hspace="48%">
           </div>
        </div> 
        <!-- Рядок з написами до зображень портфоліо-->
        <div class="container">
        <div class="city-id">
        <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
        <circle cx="30.5" cy="30.4999" r="30.5" fill="#FFFF00"/>
        </svg>
        <h1>CITY <span class="id">IDENTITY</span></h1> 
        </div>
        <div class="exh-cat">
            <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
            <circle cx="30.5" cy="30.4999" r="30.5" fill="#FFFF00"/>
            </svg>
            <h1>EXHI <span class="cat">BITION CATALOGUE</span></h1> 
            </div>
         <div class="wine-pack">
            <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
            <circle cx="30.5" cy="30.4999" r="30.5" fill="#FFFF00"/>
            </svg>
            <h1>WINE <span class="pack">PACKAGING DESIGN</span></h1> 
            </div>    
        </div>
           
            <div class="images-1">
            <img src="images main/4.png" width="320" height="380" hspace="48%">
            <img src="images main/5.png" width="320" height="380" hspace="48%">
            <img src="images main/6.png" width="320" height="380" hspace="48%">
            </div>

               <!-- Рядок з написами до зображень портфоліо 2-->
        <div class="container1">
            <div class="pack-re">
            <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
            <circle cx="30.5" cy="30.4999" r="30.5" fill="#FFFF00"/>
            </svg>
            <h1>PACK <span class="re">AGING REDESIGN</span></h1> 
            </div>
            <div class="bk-prnt">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                <circle cx="30.5" cy="30.4999" r="30.5" fill="#FFFF00"/>
                </svg>
                <h1>BOOK <span class="prnt">PRINTING</span></h1> 
                </div>
             <div class="dvd-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="61" height="61" viewBox="0 0 61 61" fill="none">
                <circle cx="30.5" cy="30.4999" r="30.5" fill="#FFFF00"/>
                </svg>
                <h1>DVD <span class="box">BOX</span></h1> 
                </div>    
            </div>

            <!-- PORTFOLIO ARROW -->
            <div class="portfolio-arrow">
            <svg xmlns="http://www.w3.org/2000/svg" width="97" height="97" viewBox="0 0 97 97" fill="none">
                <circle cx="48.5" cy="48.5" r="47" stroke="white" stroke-width="3" stroke-dasharray="6 6"/>
              </svg>
                <h1>PORTFOLIO </h1>  
                 <div id="my-services"  class="arrow">
                <svg xmlns="http://www.w3.org/2000/svg" >
                <path d="M88.0607 13.0607C88.6464 12.4749 88.6464 11.5251 88.0607 10.9393L78.5147 1.39339C77.9289 0.807608 76.9792 0.807608 76.3934 1.39339C75.8076 1.97918 75.8076 2.92893 76.3934 3.51472L84.8787 12L76.3934 20.4853C75.8076 21.0711 75.8076 22.0208 76.3934 22.6066C76.9792 23.1924 77.9289 23.1924 78.5147 22.6066L88.0607 13.0607ZM6.55671e-08 13.5L87 13.5L87 10.5L-6.55671e-08 10.5L6.55671e-08 13.5Z" fill="#FFFF00"/>
               </svg> 
            </div>
            </div>

         <!--MY SERVICES -->
         <div class="my-services">
            <svg xmlns="http://www.w3.org/2000/svg" width="98" height="98" viewBox="0 0 98 98" fill="none">
                <circle cx="49" cy="49" r="49" fill="#FFFF00"/>
              </svg>
            <h2>MY <span class="services"> SERVICES</span></h2> 
        </div>

     
       <table>
        <tr> <td></td><td></td></tr>
         
        <tr><td>
         

        <h1 class="title">LOGOTYPE</h1></td><td>
              <div class="logotype">
                - 2 proposed logo concepts<br>
                - selection of color gamut (for screens RGB and CMYK printing)<br>
                - edits within the brief<br>
                - different versions of the logo (main vartion, adaptive)
              </div></td>
        <tr><td><h1 class="title">IDENTITY</h1></td>
            <td>
              <div class="logotype">
                - analysis and programming<br>
                - 2 proposed identity concepts<br>
                - presentation and release<br>
                - revision and change<br>
                - release and application
              </div>
            </td>
        </tr>
        <tr><td><h1 class="title">REDESIGN</h1></td>
            <td> 
              <div class="logotype">
                - researching clients and their commercial environment, objectives and the subjects at hand<br>
                - developing ideas and strategies that show insight and innovation<br>
                - create visual identities (logos, colours, fonts), print media, out-of-home-media, <br>packaging, online campaigns, websites, applications and much more
              </div>
         </td>
        </tr>
         <tr><td><h1 class="title">PRINTING</h1></td>
             <td>
              <div class="logotype">
                - chose: business equipment, magazine design, advertising materials such as flyers,<br>
                 leaflets or other advertising materials, signs, flags or banners <br>
                 - 3 proposed design concepts<br>
                 - test prints & post-printing quality check
              </div>
         </td>
        </tr>
         <tr><td><h1 class="title">WEB-DESIGN</h1></td><td>
            <div class="logotype">
              - acquaintance with the client's field of activity and marketing planning <br>
              - compilation of the Technical Task<br>
              - planning of technical aspects (program functions, navigation work, etc)<br>
              - creation of site design<br>
              - approval and approval by the customer<br>
              - integration of management and design systems<br>
              - layout<br>
              - selection of software engine<br>
              - creating content and filling the web resource<br>
              - testing<br>
              - finalization and corrections<br>
              - placement of the site and launch.
            </div></td>
         </td></tr>
        </table>

            <!--CONTACT ME -->
            <div class="contact-me">
                <svg xmlns="http://www.w3.org/2000/svg" width="98" height="98" viewBox="0 0 98 98" fill="none">
                    <circle cx="49" cy="49" r="49" fill="#FFFF00"/>
                  </svg>
                <h2>CO<span class="me">NTACT ME</span></h2> 
                </div>

             <!--CONTACT ME FORM -->
            <!--<form action="index.html" autocomplete="off">
             <div class="contact-form">
                <div class="input-container focus">
                    <input type="text" name="name" class="input-name"/>
                    <label for="">NAME</label>
                    <span>NAME</span>
                </div>
                <div class="input-container focus">
                    <input type="tel" name="phone" class="input-phone"/>
                    <label for="">NUMBER</label>
                    <span>NUMBER</span>
                </div>
                <div class="input-container focus">
                    <input type="email" name="email" class="input-email"/>
                    <label for="">EMAIL</label>
                    <span>EMAIL</span>
                </div>
                <div class="input-container textarea focus">
                    <textarea name="message" class="input-textarea"></textarea>
                    <label for="">MESSAGE</label>
                    <span>MESSAGE</span>
                </div>
                <input type="submit" value="SEND" class="btn"/>
            </div> -->

            <form onsubmit="sendEmail(); reset(); return false;">
                <div class="input-container">
                  <input type="text" name="name" class="input" />
                  <label for="">NAME</label>
                  <span>NAME</span>
                </div>
                <div class="input-container">
                  <input type="tel" name="phone"  class="input" />
                  <label for="">NUMBER</label>
                  <span>NUMBER</span>
                </div>
                <div class="input-container">
                  <input type="email" name="email" class="input" />
                  <label for="">EMAIL</label>
                  <span>EMAIL</span>
                </div>
                <div class="input-container textarea">
                  <textarea name="message" class="input"></textarea>
                  <label for="">MESSAGE</label>
                  <span>MESSAGE</span>
                </div>
                <input type="submit" value="SEND" class="btn" />
              </form>
              <!--effects in contact form-->
              <script src="https://smtpjs.com/v3/smtp.js"></script>

                <!-- <script>
                  function sendEmail(){
                      Email.send({
                        Host : "smtp.gmail.com",
                        Username : "username",
                        Password : "password",  
                        To : 'wikapobeda79@gmail.com',
                        From : "you@isp.com",
                        Subject : "New Contact Form Equiry",
                        Body : "Name: " + document.getElementById("name").value
                        + "<br> Number: " + document.getElementById("phone").value
                        + "<br> Email: " + document.getElementById("email").value
                        + "<br> Message: " + document.getElementById("message").value
                    }).then(
                      message => alert("Message Sent Succesfully )")
                    );
                  }
              </script>  -->

              <script>
                document.getElementById("contactForm").addEventListener("submit", function(event) {
                    event.preventDefault(); // Verhindert das Standardverhalten des Formulars (Seitenaktualisierung)
        
                    // Daten aus dem Formular sammeln
                    var formData = new FormData(this);
        
                    // AJAX-Anfrage an das Backend-Skript senden
                    fetch("backend.php", {
                        method: "POST",
                        body: formData
                    })
                    .then(response => response.text())
                    .then(data => {
                        alert(data); // Zeige die Antwort vom Server an
                        document.getElementById("contactForm").reset(); // Formular zurücksetzen
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert("Es gab ein Problem beim Senden deiner Nachricht. Bitte versuche es später erneut.");
                    });
                });
            </script>

            <!--Bottom contacts-->

           <div class="row">
            <div class="column" >
              <h3><a href="https://instagram.com/tkachenko.viktoria_art?igshid=NGExMmI2YTkyZg=="><i class='bx bxl-instagram-alt' style="color: yellow;"></i> @tkachenko.viktoria_art</a></h3>
              <p><a href="https://www.facebook.com/wika.tkachenko.5"><i class='bx bxl-facebook'></i> Вікторія Ткаченко</a></p>
            </div>
            <div class="column1" >
              <h3><a href="mailto:wikapobeda79@gmail.com"><i class='bx bxs-envelope' style="color: yellow;"></i> tkachenko-viktoria@gmail.com</a></h3>
              <p ><a  href="tel:+380953042016"><i class='bx bxs-phone-call' ></i> +380953042016</a></p>
            </div>
          </div>
           <br>
           <br>

           <a href="#" class="totop">
           <img src="images/gotoup.png"></img>
           </a>


         </div>
   
</body>