<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie-edge">
    <title>OnClick</title>
  <style>

  </style>
  </head>

<body>
    <div id="elementor-tab-title-1033" class="elementor-tab-title elementor-active" data-tab="3" role="tab" aria-controls="elementor-tab-content-1033" aria-expanded="true" tabindex="0" aria-selected="true">
        <span class="elementor-toggle-icon elementor-toggle-icon-right" aria-hidden="true">
                    <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-window-minimize"></i></span>
            </span>
        <a href="" class="elementor-toggle-title">Für wen eignet sich systemische Beratung/ Coaching?</a>
</div>
<span class="elementor-toggle-icon elementor-toggle-icon-right" aria-hidden="true">
    <span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-window-minimize"></i></span>
</span>
<span class="elementor-toggle-icon-closed"><i class="fas fa-plus"></i></span>
<span class="elementor-toggle-icon-opened"><i class="elementor-toggle-icon-opened fas fa-window-minimize"></i></span>
<i class="elementor-toggle-icon-opened fas fa-window-minimize">::before</i>
<a href="" class="elementor-toggle-title">Für wen eignet sich systemische Beratung/ Coaching?</a>
<div id="elementor-tab-content-1033" class="elementor-tab-content elementor-clearfix elementor-active" data-tab="3" role="tabpanel" aria-labelledby="elementor-tab-title-1033" style="display: block;"><p>Eine systemische Beratung/ ein systemisches Coaching ist geeignet für jeden, der sich in einer schwierigen/ problematisch empfundenen Lebenssituation befindet und nach Einsichten oder Lösungen für sich sucht.</p></div>




<button onclick="toggle()"><h1>LOGOTYPE</h1></button>
        <div id="div1">
                - 2 proposed logo concepts<br>
                - selection of color gamut (for screens RGB and CMYK printing)<br>
                - edits within the brief<br>
                - different versions of the logo (main vartion, adaptive)
              </div>

     <script>
        function toggle() {
  var x = document.getElementById("div1");

  if(x.style.display==="none") {
    x.style.display = "block";
  }

  else {
    x.style.display==="none";
  }
}
</script>
</body>
</html>