<html>
 <head>
  <link rel="stylesheet" href="portfolio styles.css">
   <title> Portfolio   </title>
 </head>
<body>
<style>
 body {
  background-color: black;
}
</style>
<header class="header">
  <div class="container"> <!-- шапка -->
    <div class="header_inner">
	 <div class="header_logo"> VIKTORIA TKACHENKO DESIGN <b></div>
	 
	 <nav class="nav">
         <a class="nav_link" href="C:/УНІВЕР/Пакетна програма HTML/Самостійна робота 3/MYDESIGNSITE/my design site.html">HOME</a>    
         <a class="nav_link" href="about.html">ABOUT</a>
         <a class="nav_link" href="portfolio.html">PORTFOLIO</a>
	     <a class="nav_link" href="services.html">SERVICES</a>
         <a class="nav_link" href="contacts.html">CONTACTS</a>
	 </nav>
	</div>
  </div>
</header>
  <br>
 
<p><img src="images/5.png" width="154,5" height="58,5" vspace="20" ></p>
 <br>
 <br>
  <table align="center">
  <!-- 2 зображення -->
  <tr><td><img src="images portfolio/1.png" width="387" height="444" hspace="48%"></td>
   <td><div class="sudtitle"><img src="images portfolio/2.png" width="387" height="444" hspace="48%"></div></td>
  <tr>
  <td><img src="images portfolio/7.png" width="227" height="61" hspace="48%"></td>
   <td><img src="images portfolio/8.png" width="225" height="61" hspace="48%"></td> 
   <tr>
  <td colspan="2" height="70">
    <!-- 2 зображення -->
  <tr><td><img src="images portfolio/3.png" width="387" height="444" hspace="48%"></td>
   <td><img src="images portfolio/4.png" width="387" height="444" hspace="48%"></td>
  <tr>
  <td><img src="images portfolio/9.png" width="227" height="61" hspace="48%"></td>
   <td><img src="images portfolio/10.png" width="225" height="61" hspace="48%"></td>  
    <tr>
  <td colspan="2" height="70">  
    <!-- 2 зображення -->
  <tr><td><img src="images portfolio/5.png" width="387" height="444" hspace="48%"></td>
   <td><img src="images portfolio/6.png" width="387" height="444" hspace="48%"></td>
  <tr>
  <td><img src="images portfolio/11.png" width="227" height="61" hspace="48%"></td>
   <td><img src="images portfolio/12.png" width="225" height="61" hspace="48%"></td>     
   <tr>
  <td colspan="2" height="70">  
</table>
<br>
<br>
<br> 
</body>
</html>
