<html>
 <head>
  <link rel="stylesheet" href="services styles.css">
   <title> Services </title>
 </head>
<body>
<style>
 body {
  background-color: black;
}
</style>
<header class="header">
  <div class="container"> <!-- шапка -->
    <div class="header_inner">
	 <div class="header_logo"> VIKTORIA TKACHENKO DESIGN <b></div>
	 
	 <nav class="nav">
         <a class="nav_link" href="C:/УНІВЕР/Пакетна програма HTML/Самостійна робота 3/MYDESIGNSITE/my design site.html">HOME</a>    
         <a class="nav_link" href="about.html">ABOUT</a>
         <a class="nav_link" href="portfolio.html">PORTFOLIO</a>
	     <a class="nav_link" href="services.html">SERVICES</a>
         <a class="nav_link" href="contacts.html">CONTACTS</a>	
	 </nav>
	</div>
  </div>
</header>
  <br>
    <p><div id="services"><img src="images/3.png" width="157" height="50" vspace="20" ></div>
 <table>
  <tr>
   <td><h2 > LOGOTYPE </h2><td> <img src="images/1.png" width="87" height="20" vspace="20" >
   <tr><td colspan="2"><hr>
     <tr>
     <td><h2 > IDENTITY </h2> <td><img src="images/1.png" width="87" height="20" vspace="20" >
   <tr><td colspan="2"><hr>
    <tr>
     <td><h2 > REDESIGN </h2> <td><img src="images/1.png" width="87" height="20" vspace="20" >
   <tr><td colspan="2"><hr>
    <tr>
     <td><h2 > PRINTING </h2> <td><img src="images/1.png" width="87" height="20" vspace="20" >
   <tr><td colspan="2"><hr>
    <tr>
     <td><h2>WEB-DESIGN </h2> <td><img src="images/1.png" width="87" height="20" vspace="20" >
   <tr><td colspan="2"><hr>
</table>
<br>
<br>
<br> 
</body>
</html>
